<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h4>Login here</h4>
                <% if(loginError.length > 0) { %>
                <div class="alert alert-danger">
                    <%= loginError %>
                </div>
                <% } %>
                <div class="my-5">
                    <form id="contactForm" action="/user/login" method="post">
                        <div class="form-floating">
                            <input class="form-control" value="<%= data.username %>" name="username" type="text" placeholder="Enter your username..." data-sb-validations="required" />
                            <label for="username">Username</label>
                            <div class="invalid-feedback" data-sb-feedback="username:required">A username is required.</div>
                        </div>
                        
                        <div class="form-floating">
                            <input class="form-control" name="password" value="" type="password" placeholder="Enter your password ..." data-sb-validations="required" />
                            <label for="password">Password</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                        </div>
                        
                        <br />
                        
                        <button class="btn btn-primary text-uppercase" id="registerButton" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>